<div class="container jumbotron index-page">
  <h1>Location Manager</h1>
  <br>
  <p>Welcome to the Location Manager</p>
  <p>This application is build for network admins to manage and maintain following details:
  </p>
  <p>
  Locations: Location Name, Location Type, Location Address, </p>
  <p>Location Contacts: Contact Name, Contact Number, Email, </p>
  <p>Location IPSchema: Location Network, Location Subnet.</p>
  <p>It also offers option to search for location for any given IP.</p>
  <p class="lead">
    <%= link_to "Sign up", '#', class:"btn btn-outline-danger btn-lg" %>
  </p>

</div>

